img {
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}


.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 180px;
}

.section h2 {
    color: #0a3d62;
    font-size: 24px;
    margin-bottom: 10px;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #333;
}

main section {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: auto;
    
    
}

hr {
    width: 90%;
    background-color: #0a3d62;
    margin: auto;
    border: 1px solid #0a3d62;
}
a {
    text-decoration: none;
}
main section {
    display: grid;
    grid-template-columns: 3fr 2fr;
}
main h1 {
    color: #0a3d62;
}
main .tekst {
    grid-column: 1/2;
}
main section img {
    grid-column: 2/3;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    
}

main h1 {
    font-size: calc(20px + 1vw);
    margin: 10px;
}

main p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-size: calc(0.5rem + 1vw);
    margin: 10px;
}

main img {
    margin: auto;
}

@media (max-width: 999px) {
    main section {
        grid-template-columns: 1fr; 
    }
    .tekst {
        grid-column: 1 / 2; 
    }
    main section img {
        grid-column: 1 / 2; 
        max-width: 100%; 
    }
}

@media (max-width:460px) {
    header h1 {
        font-size: 20px;
    }
}
