

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: center;
    background: #164f78;
    padding: 8px;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    padding: 5px 10px;
}
nav a:hover {
    background-color: #777;
    border-radius: 5px;
}
section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section{
    display: grid;
    grid-template-columns: 8fr 1fr;
    align-items: center;
    gap: 20px;
}
section img {
    max-width: 100%;
    border-radius: 8px;
    height: auto;
    justify-self: end;
}

h2 {
    color:  black;
}
html {
    scroll-behavior: smooth;
}

@media (max-width: 770px) {
 
    nav a {
        margin: 5px;
        padding: 5px;
        font-size: 14px;
    }
    section {
        display: block; 
        text-align: center;
    }
    section img {
        margin-top: 15px;
        width: 50%;
        max-height: auto;
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 20px;
        padding: 5px 0;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 3px 0;
        padding: 5px 15px;
        font-size: 13px;
    }
    section img {
        width: 80%;
        height: auto;
    }
}
@media (max-width: 320px) {
    header {
        font-size: 16px;
        padding: 3px 0;
    }
    nav a {
        margin: 2px 0;
        padding: 4px 10px;
        font-size: 12px;
    }
    body {
        font-size: 14px;
    }
    section {
        margin: 5px;
        padding: 10px;
    }
    section img {
        width: 100%;
        height: auto;
    }
} 