* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.main-header {
    background-color: #0a3d62;
    color: white;
    padding: 20px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo h1 {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #f1c40f;
    transition: 0.3s;
}